<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kapcsolódj a Forrásoddal!</h2>
                <hr class="light">
                <p class="text-faded">Valódi lényem segít abba a minőségbe emelni téged, ahol megszűnik minden határ és találkozol az igazi önmagaddal. A te sajátos mintázatoddal. Különbözőek vagyunk, mindenki másképp talál vissza az Egyhez. Nevezheted 72 néven. A te szívnyitásodat segítem, mely örök és végtelen. Ebből a térből merítkezvén, megtalálod képességeidet, elfeledett vágyaidat, magodat, hogy áramolhass. Hitrendszerek leomlanak és csak az igazság marad. Ebben segítem utadat.</p>
                <a href="#" class="btn btn-default btn-xl">Tovább</a>
            </div>
        </div>
    </div>
</section>
